<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new room</title>
</head>
<body>
{{ errors }}
    <form name="adding_room" action="" method="POST">
        <label>
            <h2>Name of the room</h2>
            <input name="room_name" type="text"><br>
            <h2>Capacity of the room</h2>
            <input name="room_capacity" type="number"><br>
            <h2>Is there a projector:<br></h2>
            <select name="projector_room">
                <option value="t">true</option>
                <option value="f">false</option>
            </select><br><br>
            <input type="submit" value="Add new room">
        </label>
        {% csrf_token %}
    </form>
<style>
    h1 { text-align: center; margin-top: 10px; }
    form {width: 500px}
    input {width: 1000px; height: 50px; font-size: 30px}
    select {width: 1000px; height: 50px; font-size: 30px}
</style>
</body>
</html>