<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of the rooms</title>
</head>
<body>
{{ errors }}
    <table>
        <th colspan="7">
            List of the rooms
        </th>
        <tr>
            <th>Name</th>
            <th>Capacity</th>
            <th>Room availability for today</th>
            <th>Projector available</th>
            <th>Edit buttons</th>
            <th>Delete buttons</th>
            <th>Booking buttons</th>
        </tr>
        {% for room, available in today_room_reservation %}
            <tr>
                <td><a href="{% url 'room_details' room.id %}">{{ room.name }}</a></td>
                <td>{{ room.capacity }}</td>
                <td>{{ available }}</td>
                <td>{{ room.projector_available }}</td>
                <td><a href="{% url 'edit_room' room.id %}">Edit</a></td>
                <td><a href="{% url 'delete_room' room.id %}">Delete</a></td>
                <td><a href="{% url 'book_room' room.id %}">Book</a></td>
            </tr>
        {% endfor %}
    </table>
    <style>
        h1 { text-align: center; margin-top: 10px; }
        a { text-decoration:none; color: inherit; }
        a:hover { color: blue; }
        table { width: 1250px; margin: 70px auto 20px auto; border-collapse: collapse; }
        table th { background: lightgray; }
        table td, table th { border: 1px solid black; text-align: center; height: 65px; width: 1000px}
    </style>
</body>
</html>