<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rent your room</title>
</head>
<body>

    <form name="adding_room" action="" method="POST">
        <label>
            Name of the room
            <input name="room_name" type="text">
            Capacity of the room
            <input name="room_capacity" type="number">
            Is there a projector
            <input name="projector_room" type="checkbox" value="t">
            <input name="projector_room" type="checkbox" value="f">


        </label>

    </form>

</body>
</html>